* {
  margin: 0;
}
body {
  padding: 20px;
  overflow: hidden;
}



.box {
  height: 100%;
  display: flex;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

a.box__btn {
  background: radial-gradient(80% 80% at 70% 70%, #1E2CEF 30%, #4E5CFF 100%);
  color: #fff;
  font-family: Trebuchet MS;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 60px;
  border: 0px solid #000;
  border-radius: 15px;
  display: inline-block;
}

a.box__btn:hover {
  background: radial-gradient(80% 80% at 70% 70%, #1d2ae6 30%, #4552e3 100%);
}

a.box__btn:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}



.items-block {
  display: flex;
  gap: 10px;
}

.slidecontainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
  margin: 50px 0 50px 0;
}

.value {
  display: inline;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
