input[type="range"].styled-slider {
  width: 30vw;
  -webkit-appearance: none;
}

/*progress support*/
input[type="range"].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type="range"].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type="range"].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 3em;
  background: #f7f7fc;
  border: 2px solid #0c7be9;
  margin-top: calc(max((1em - 1px - 1px) * 0.5, 0px) - 2em * 0.5);
  transition: box-shadow 0.3s cubic-bezier(0.21, 0.34, 0.03, 1);

}

input[type="range"].styled-slider::-webkit-slider-runnable-track {
  height: 1em;
  border-radius: 0.5em;
  background: #d9dbe9;
  box-shadow: none;
}

input[type="range"].styled-slider::-webkit-slider-thumb:hover {
  border-color: #0061c3;
  cursor: ew-resize;
  box-shadow: 0 0 0 8px rgba(214, 214, 214, 0.8);
}

input[type="range"].styled-slider::-webkit-slider-thumb:active {
  border-color: #0061c3;
  box-shadow: 0 0 0 8px rgba(214, 214, 214, 0.8);
}

input[type="range"].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #0c7be9, #0c7be9) 0 / var(--sx) 100%
      no-repeat,
    rgb(229, 231, 243);
}

input[type="range"].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #0061c3, #0061c3) 0 / var(--sx) 100%
      no-repeat,
    #d9dbe9;
}

input[type="range"].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #0061c3, #0061c3) 0 / var(--sx) 100%
      no-repeat,
    #d9dbe9;
}
